{% extends 'base/page.html' %} {% block header %}
<h1>{% block title %}Employees{% endblock %}</h1>
{% endblock %} {% block content %} {% for employee in employees %}
<article class="post">
  <header>
    <div>
      <h1>{{ employee['ssn'] }}</h1>
      <div class="about">in {{ employee['name'] }}</div>
    </div>
  </header>
  <p class="body">€ {{ employee['bdate'] }}</p>
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %}
<ion-icon name="person-outline" id="1"></ion-icon>{% endblock %}
