{% extends 'base/page.html' %} {% block header %}
<h1>{% block title %}Employee{% endblock %}</h1>
{% endblock %} {% block content %}

<style>
  .body-employee {
    width: 89%;
    margin: 0 auto;
  }

  .products-list {
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 2rem;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    width: 370px;
    margin: 20px 20px;
    padding: 20px 30px;
    height: 180px;
  }

  .f-footer {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 0px 30px;
  }

  .title-bar h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .header-employee {
    margin: 0px 30px 0px 30px;
  }
</style>

<body-employee>
  <div class="title-bar">
    <h1>Employees</h1>
  </div>
</body-employee>

{% endblock %}
