{% extends 'base/page.html' %} {% block header %}
<h1>{% block title %}Suppliers{% endblock %}</h1>
{% endblock %} {% block content %}
<style>
  ol {
    margin: 20px 30px 20px 30px;
  }

  .lat-long {
    width: 33%;
    justify-self: left;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: auto 0px auto 0px;
    gap: 3rem;
  }

  .row-supplier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
</style>
<div class="title-bar">
  <h1 class="o-font-title">Suppliers</h1>
  <a class="btn btn-primary" href="{{url_for('create_supplier')}}"
    >Add Supplier</a
  >
</div>
<hr class="hz-line" />
<ol class="list-group list-group-numbered">
  {% for supplier in suppliers %}
  <li
    class="list-group-item d-flex justify-content-around align-items-start gap-15"
  >
    <div class="row-supplier">
      <div class="ms-2 fixed-wid-33">
        <div class="fw-bold">{{supplier['name']}}</div>
        {{ supplier['address'] }}
      </div>
      <div class="lat-long">
        <span class="badge bg-primary rounded-pill"
          >{{supplier['product_name']}}</span
        >
        <span class="badge bg-primary rounded-pill">{{supplier['date']}}</span>
      </div>
      <div class="btn-placeholder-b fixed-wid-33">
        <div class="del-btn-b">
          <form
            action="{{url_for('supplier_delete', tin=supplier['tin'])}}"
            method="post"
          >
            <button onclick="return confirm('Are you sure?');">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
<div class="pagination">
  {% if current_page > 1 %}
  <a href="?page={{ current_page - 1 }}" class="btn btn-primary">Previous</a>
  {% endif %} {% for page_num in range(1, total_pages + 1) %}
  <a
    href="?page={{ page_num }}"
    class="btn btn-primary{% if page_num == current_page %} active{% endif %}"
    >{{ page_num }}</a
  >
  {% endfor %} {% if current_page < total_pages %}
  <a href="?page={{ current_page + 1 }}" class="btn btn-primary">Next</a>
  {% endif %}
</div>
{% endblock %}
