{% extends 'base/page.html' %} {% block header %}
<h1>{% block title %}Create Supplier{% endblock %}</h1>
{% endblock %} {% block content %}

<style>
  .form-body {
    margin: 20px 30px 0px 30px;
  }

  .box {
    background: #eef0f1;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    width: 50%;
    margin-left: 25%;
    flex-direction: column;
    padding: 10px;
    margin-top: 70px;
  }

  .box-title {
    margin-left: 0.5%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
  }

  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .container label {
    margin-top: 20px;
  }

  .container input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .box button {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background-color: #4c95af;
    color: white;
    border: none;
    border-radius: 7px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    margin-left: 38%;
  }

  .box button:hover {
    background-color: #155871;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.4s;
  }

  .margins-basic {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
</style>

<div class="title-bar">
  <h1 class="o-font-title" style="text-align: center; margin: 0 auto">
    Create new supplier
  </h1>
</div>
<hr class="hz-line" />
{% if error %}
<div class="alert alert-danger margins-basic" role="alert">
  {{error}}
</div>
{% endif %}
<div class="box">
  <div class="box-title">Regist Supplier</div>
  <div class="container">
    <form action="{{url_for('create_supplier')}}" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">name</span>
        <input
          name="name"
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          required
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">address</span>
        <input
          name="address"
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          required
        />
      </div>

      <div>
        <label for="sku">Select a product:</label>
        <select id="sku" name="sku">
          <option value="">-- Select a product --</option>
          {% for product in products %}
          <option value="{{product.sku}}">{{ product.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">date</span>
        <input name="date" type="date" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">TIN</span>
        <input name="tin" type="text" />
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
{% endblock %}
