{% extends 'base/customer_page.html' %} {% block header %}
<h1>{% block title %}Create Customer{% endblock %}</h1>
{% endblock %} {% block content %}

<style>
  .form-body {
    margin: 20px 30px 0px 30px;
  }

  .box {
    margin-left: auto;
    margin-right: auto;
    background: #eef0f1;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    width: 50%;
    margin-left: 25%;
    flex-direction: column;
    padding: 10px;
    margin-top: 70px;
  }

  .box-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
  }

  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .container label {
    margin-top: 20px;
  }

  .container input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .box button {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background-color: #4c95af;
    color: white;
    border: none;
    border-radius: 7px;
    margin-left: 44%;
    padding-bottom: 3px;
    margin-bottom: 10px;
  }

  .box button:hover {
    background-color: #155871;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.4s;
  }

  .title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .title-bar h1 {
    margin: 0;
    padding: 0;
  }
</style>

<div class="title-bar">
  <h1 class="o-font-title" style="text-align: center">Regist New Order</h1>
</div>

{% if customer %}
<hr class="hz-line" />
<div class="box">
  <div class="box-title">Check customer Data</div>
  <div class="container">
    <label for="name"><b>Name: {{ customer.name }}</b></label>
    <p></p>
    <label for="name"><b>Number: {{ customer.cust_no }}</b></label>
    <p></p>
    <label for="name"><b>Email: {{ customer.email }}</b></label>
    <p></p>
    <label for="name"><b>Phone: {{ customer.phone }}</b></label>
    <p></p>
    <label for="name"><b>Address: {{ customer.address }}</b></label>
  </div>
</div>
<!-- Adicione o campo de entrada oculto para enviar o valor de customer.cust_no -->
<input type="hidden" name="cust_no" value="{{ customer.cust_no }}" />
<div class="space"></div>
<hr class="hz-line" />
{% if error %}
<div class="alert alert-danger margins-basic" role="alert">
  {{error}}
</div>
{% endif %}
<div class="box">
  <div class="box-title">Regist order</div>
  <div class="container">
    <form action="{{url_for('create_order', cust_no=customer['cust_no'])}}" method="POST">
      <input type="hidden" name="cust_no" value="{{ customer.cust_no }}" />

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Order Date</span>
        <input
          name="date"
          type="date"
          class="form-control"
          aria-describedby="basic-addon1"
          required
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Select products:</span>
        {% for product in products %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="product{{ product.sku }}"
            name="selected_products[]"
            value="{{ product.sku }}"
          />
          <label class="form-check-label" for="product{{ product.sku }}">
            {{ product.name }}
          </label>
          {% if product.sku in selected_products %}
          <input
            class="form-control"
            type="number"
            name="quantities[]"
            placeholder="Qty"
          />
          {% else %}
          <input
            class="form-control"
            type="number"
            name="quantities[]"
            value="0"
            placeholder="Qty"
          />
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
{% endif %} {% endblock %}
