{% extends 'base/page.html' %} {% block header %}
<h1>{% block title %}Customers{% endblock %}</h1>
{% endblock %} {% block content %}

<style>
  .customer-list {
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .customer {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 2rem;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    width: 370px;
    margin: 20px 20px;
    padding: 20px 30px;
    height: 180px;
  }

  .f-header {
    text-transform: uppercase;
    text-size-adjust: 20rem;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .f-footer {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .o-icon {
    font-size: 1.5rem;
  }
</style>

<div class="title-bar">
  <h1 class="o-font-title">Choose customer orders</h1>
</div>
<hr class="hz-line" />
<div class="container">
  <div class="customer-list">
    {% for customer in customers %}
    <div class="customer">
      <div class="f-header">
        <ion-icon class="o-icon" name="person-circle-outline"></ion-icon>
        <h2 class="o-font">{{ customer.name }}</h2>
        <h3 class="o-font">Number:{{ customer.cust_no }}</h3>
      </div>
      <hr />
      <div class="f-body">
        <p>{{ customer.email }}</p>
        <p>{{ customer.phone }}</p>
      </div>
      <div class="f-footer">
        <a
          class="btn btn-primary"
          href="{{url_for('orders_index', cust_no=customer['cust_no'])}}"
          >show orders</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="pagination">
  {% if current_page > 1 %}
  <a href="?page={{ current_page - 1 }}" class="btn btn-primary">Previous</a>
  {% endif %} {% for page_num in range(1, total_pages + 1) %}
  <a
    href="?page={{ page_num }}"
    class="btn btn-primary{% if page_num == current_page %} active{% endif %}"
    >{{ page_num }}</a
  >
  {% endfor %} {% if current_page < total_pages %}
  <a href="?page={{ current_page + 1 }}" class="btn btn-primary">Next</a>
  {% endif %}
</div>
{% endblock %}
