{% extends 'base/page.html' %} {% block header %}
<h1>{% block title %}Product{% endblock %}</h1>
{% endblock %} {% block content %}
<style>
  .product-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 30px 0px 30px;
    height: 70%;
    gap: 30px;
  }

  .product-display img {
    width: 450px;
    height: 350px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 50%;
    height: fit-content;
    background-color: #f3f3f3;
    border-radius: 0.4rem;
    padding: 20px 30px;
    gap: 10px;
  }

  .p-name {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .p-desc {
    font-size: 1.2rem;
  }

  .p-price {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .p-sku {
    font-size: 1rem;
    color: gray;
  }

  .p-ean {
    font-size: 1rem;
    color: gray;
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
</style>
<div class="title-bar">
  <h1 class="o-font-title">{{product['name']}}</h1>
  <div class="btns">
    <a
      class="btn btn-primary"
      href="{{url_for('update_product', sku=product['sku'])}}"
      >Edit Product</a>
      <div class="del-btn-b">
        <form
          action="{{url_for('delete_product', sku=product['sku'])}}"
          method="post"
        >
          <button onclick="return confirm('Are you sure?');">Delete</button>
        </form>
    </div>
  </div>
</div>
<hr class="hz-line" />
<div class="product-display">
  <img src="https://goldstore60.com/img/no-image.png" alt="product_image" />
  <div class="product-info">
    <h2 class="p-name">{{product['name']}}</h2>
    <p class="p-desc">{{product['description']}}</p>
    <p class="p-price">€ {{product['price']}}</p>
    <p class="p-sku">SKU: {{product['sku']}}</p>
    <p class="p-ean">EAN: {{product['ean']}}</p>
  </div>
</div>
{% endblock %}
