{% extends 'base/customer_page.html' %} {% block header %}
<h1>{% block title %}Payment{% endblock %}</h1>
{% endblock %} {% block content %}

<script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"
></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
  .payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .notif-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .payment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-group input {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group button {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .o-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: darkblue;
  }

  .f-number {
    height: 25%;
  }

  .o-sku {
    font-size: 1rem;
    color: grey;
  }

  .f-sku {
    margin: 8px 0px 12px 0px;
    height: 100%;
  }

  .o-qty {
    font-size: 1rem;
    font-weight: italic;
    padding-bottom: 15px;
  }

  .f-footer {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .alert {
    display: none;
  }
</style>
<div class="payment-container">
  <div class="f-number">
    <h1 class="o-number">Payment for order number: {{order['order_no']}}</h1>
  </div>

  {% for product in products %}
  <div>
    <p class="o-number">{{ product['name'] }}</p>
    <p class="o-sku">Product SKU: {{ product['sku'] }}</p>
    <p class="o-qty">Product quantity: {{ qty_list[loop.index0] }}</p>
    <p class="o-qty">€ Product price: {{ product['price'] }}</p>
  </div>
  {% endfor %}

  <div class="payment-form">
    <form action="{{ url_for('pay_order') }}" method="post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="card">Card Number:</label>
        <input type="text" id="card" name="card" required>
      </div>
      <div class="f-footer">
        <p class="o-qty">€ Total price: {{ result_sum }}</p>
      </div>
      <input type="hidden" name="order_no" value="{{order['order_no']}}">
      <input type="hidden" name="cust_no" value="{{ order['cust_no'] }}">
      <div>
        <input class="btn btn-outline-success" type="submit" id="pay-now-btn" value="Pay" onclick="return confirm('Are you sure?');">
      </div>
    </form>
  </div>
</div>
{% endblock %}
